<!-- INCLUDE -->

{% extends "bootstrap/base.html" %}  {% block navbar %} {% include
    "header.html" %} {% include "footer.html" %} {% endblock %} {% block head %} {{
    super() }}
    
   
    
    {% endblock %} {% block content %}
    
    <div class="container">
      <div class="row">
     
        <!--STUPAC 1-->
        <div class="col-md-2 sidenav" style="background-color: lightblue; color: white">text</div>
    
        <!--STUPAC 2-->
        <div class="col-md-8 text-center" style="background-color: lightblue; color: white">
          <div class="page-header">   
            text  
          </div>
        </div>
    
        <!--STUPAC 3-->
        <div class="col-md-2 sidenav" style="background-color: lightblue; color: white">text</div>
      </div>
      
    </div>
    
    {% endblock %}
    