<nav class="navbar navbar-inverse" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button
        type="button"
        class="navbar-toggle"
        data-toggle="collapse"
        data-target=".navbar-collapse"
      >
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">Početna stranica</a>
    </div>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li><a href="/">Index</a></li>
        <li><a href="/columns_equal_3">Tri jednaka stupca</a></li>
        <li><a href="/columns_unequal_2">Dva nejednaka stupca</a></li>
        <li><a href="/columns_unequal_3">Tri nejednaka stupca</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="?lang=hr">HR</a></li>
        <li><a href="?lang=en">EN</a></li>
      </ul>
    </div>
  </div>
</nav>
